{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Share your best experiences !{% endblock %}
{% block body %}
   <div class="container mt-5">
   <h1 class="text-center">Nya ! Arigato</h1>
      <div id="map" class="mb-2"></div>
   </div>
{% endblock %}
