{% for category in categories %}
    <li><a href="{{ path('category_show', {category_id: category.id}) }}" class="dropdown-item">{% include 'component/_category_icons.html.twig' %} {{ category.name }}</a></li>
{% endfor %}
